* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Roboto', sans-serif;
font-family: 'Montserrat', sans-serif; */

body {
  min-height: calc(100vh - 50px);
  background: linear-gradient(#A0DEBE, #7BAB92, #285E42);
  font-family: 'Roboto', sans-serif;
  color: #445E51;
}

.wrapper {
  max-width: 500px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 2px 2px 3px #666;
}

header.wrapper {
  position: relative;
  margin-top: 50px;
  background: linear-gradient(rgb(203, 247, 224), #9FDDBD);
}


header h1 {
  margin: 0 auto;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  line-height: 100px;
  font-weight: 500;
  text-align: center;
  color: #394F44;
  opacity: 0.5;
  text-shadow: 0 2px #9FDDBD;
}

#makeAllCompleted::before {
  content: '❯';
  position: absolute;
  bottom: 10px;
  left: 35px;
  font-size: 2rem;
  transform: rotate(90deg);
  cursor: pointer;
}

.todo-input {
  width: 100%;
  padding: 10px 20px 10px 80px;
  border: none;
  border-radius: 6px;
  color: #214F37;
  font-size: 2rem;
  font-weight: 500;
  background: linear-gradient(rgb(203, 247, 224), #9FDDBD);
  box-shadow: 2px 2px 3px #666;
  outline: none;
}

.todo-input:focus {
  box-shadow: 5px 5px 5px #666;
}

#display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  list-style: none;
}

.display-row {
  position: relative;
  padding: 0 20px;
  border-radius: 6px;
  color: #214F37;
  font-size: 1.4rem;
  line-height: 1.5rem;
  border-bottom: 1px solid #ededed;
  background: linear-gradient(rgb(203, 247, 224), 30%, #9FDDBD);
  box-shadow: 2px 2px 3px #666;
}

.display-row:hover {
  box-shadow: 5px 5px 10px #666;
}

.toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 40px;
  width: 40px;
  margin: auto 0;
  border: none;
  outline: none;
  cursor: pointer;
}

.display-text {
  word-break: break-word;
  padding: 15px 15px 15px 60px;
  display: block;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  font-weight: regular 400;
  font-size: 1.5rem;
  color: #445E51;
  outline: none;
}

.completed .display-text {
  font-weight: 300;
  font-style: italic;
  text-decoration: line-through;
}

.del-but {
  display: none;
  position: absolute;
  top: 35%;
  right: 10px;
  width: 20px;
  height: 20px;
  margin: auto 0;
  font-size: 1.5rem;
  color: #285E42;
  margin-bottom: 11px;
  transform: rotate(45deg);
  background-color: transparent;
}

.display-row:hover .del-but {
  display: inline;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededed;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: #214F37;
  background: linear-gradient(rgb(203, 247, 224), 30%, #9FDDBD);
  box-shadow: 2px 2px 3px #666;
}

#todo-count {
  font-size: 0.8rem;
}

#filters {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  list-style: none;
}

#filters li button {
  margin: 3px;
  padding: 3px 7px;
  border: 1px solid transparent;
  border-radius: 3px;
  font-size: 0.8rem;
  color: #5AD796;
  background: linear-gradient(#e1e1e1, #A0DEBE);
  box-shadow: 1px 1px 2px #666;
  outline: none;
  cursor: pointer;
}

#filters li button:hover {
  color: #285E42;
  box-shadow: 3px 3px 3px #666;
}

#filters li button:active {
  color: #5AD796;
  background: #666;
}

#filters li button.selected {
  color: #445E51;
  //background: #666;
}

#clear-completed {
  background: none;
  border: none;
  padding: 0;
  color: #445E51;
  outline: none;
  cursor: pointer;
}

#clear-completed:hover {
  text-decoration: underline;
}

#after-footer {
  max-width: 500px;
  margin: 100px auto 10px auto;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #a1a1a1;
}

#after-footer a {
  color: #a1a1a1;
  text-decoration: none;
}

#after-footer a:hover {
  text-decoration: underline;
}